// SPDX-License-Identifier: GPL-2.0-only
/*
 * Device tree for Huawei Mediapad T5
 *
 * Copyright (C) 2025, Tildeguy (tildeguy@mainlining.org)
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>

#include "hi6250.dtsi"
#include "hi6250-huawei-bl-quirks.dtsi"
/* #include "hi6250-pinctrl.dtsi" */

/ {
	model = "Huawei Mediapad T5";
	compatible = "huawei,agassi2", "hisilicon,hi6250";
	chassis-type = "handset";

	aliases {

	};

	chosen {
		bootargs = "earlycon=tty0 console=tty0";

		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		stdout-path = "framebuffer0";

		framebuffer0: framebuffer@5d000000 {
			compatible = "simple-framebuffer";
			reg = <0 0x5d000000 0 (1200 * 1920 * 4)>;
			width = <1200>;
			height = <1920>;
			stride = <(1200 * 4)>;
			format = "a8r8g8b8";
			status = "okay";
		};
	};
	
	soc {

	};
};

/*

// enable pinmux
&pmx0 {
	status = "ok";
};

&pmx1 {
	status = "ok";
};

&pmx2 {
	status = "ok";
};

&pmx3 {
	status = "ok";
};

// enable i2c2,4
&i2c2 {
	status = "ok";
};

&i2c4 {
	status = "ok";
};

// enable dma
&dma0 {
	status = "ok";
};

&iomcu_dma {
	status = "ok";
};

// enable uart0,2,3,4,6
&uart0 {
	status = "ok";
};

&uart2 {
	status = "ok";
};

&uart3 {
	status = "ok";
};

&uart4 {
	status = "ok";
};

&uart6 {
	status = "ok";
};

// enable pmic
&pmic {
	status = "ok";
	pmic-gpios = <&gpio23 7 GPIO_ACTIVE_HIGH>;
};

// enable usb
&usb3_otg_bc {
	status = "ok";
};

&usb_phy {
	hisilicon,eye-diagram-param = <0x059066DB>;
};

*/
